* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #2dd4bf;
    --white: #ececef;
    --gray: #9b9ba8;
    --sub-gray: #424242;

    --bg-color: black;
    --gray-bg: #0E0E12;
}

body {
    font-family: "Geist", sans-serif;
    background-color: var(--bg-color);

}

section {
    padding: 100px 0px;
    border-bottom: 1px solid #ececef14;
}

.container {
    width: 1280px;
    margin: auto;
    width: 100%;
}

.page-title {
    font-size: 26px;
    color: var(--brand-color);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

}

.label {
    display: block;
    font-size: 14px;
    color: var(--gray);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.input-field {
    background-color: var(--sub-bg-color);
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: block;
    color: white;
    width: 100%;
}


img {
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
    object-position: top;
}

.heading {
    font-size: 14px;
    color: var(--brand-color);
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 2.4px;

}

.header {
    width: 70%;
    margin: auto;
    text-align: center;
}

.header-text {

    font-size: 24px;
    color: var(--brand-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    /* margin-top: 10px; */
    margin-bottom: 40px !important;


}

.title {
    font-size: 30px;
    color: var(--white);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.75px;
    text-transform: capitalize;
    margin: 12px 0px 16px 0px !important;
    /* margin-top: 120px; */
    /* padding-top:  ?; */
}

.description {
    font-size: 16px;
    color: var(--gray);
    font-weight: 400;
    line-height: 26px;

}

.icon {
    font-size: 40px;
    color: var(--brand-color);
    text-align: center;
}

.text-sm {
    font-size: 14px;
    color: var(--white);
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
    text-transform: capitalize;

}

.text-xs {
    text-decoration: none;
    font-size: 12px;
    color: var(--gray);
    font-weight: 400;
    text-transform: capitalize;
    /* cursor: pointer; */
}
.text-xs-brand{
   
    font-size: 10px;
    color: var(--brand-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;

}
.cards-container-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

}

.cards-container-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.cards-container-four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

}


.card-details {
    padding: 20px 10px;
    background-color: var(--gray-bg);
    border-radius: 30px;
    text-align: center;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}

.btn {

    font-size: 14px;
    color: var(--gray-bg);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 30px;
    background-color: #2dd4bf;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: fit-content;
    margin-top: 24px;

}

.talk-btn {
    text-decoration: none;
    font-size: 12px;
    color: var(--sub-gray);
    font-weight: 600;
    background-color: var(--brand-color);
    text-transform: capitalize;
    padding: 6px 12px;
    border-radius: 30px;
}

.social-link {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    #header .talk-btn {
        display: none;
    }

    .page-title {
        font-size: 20px;
    }

    section {
        padding: 40px 10px;
    }

    section header {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .cards-container-two,
    .cards-container-three,
    .cards-container-four {
        grid-template-columns: 1fr;
    }

}