

#existing-client .card-details .client-info {
    text-align: center;
    margin-top: 20px;
}

#existing-client .card-details .client-info .name {
    font-size: 24px;
    color: #ececec;
    font-weight: 600;
    text-transform: capitalize;
}

#existing-client .card-details .client-info .designation {
    font-size: 10px;
    color: #2dd4bf;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
}

#existing-client .heading 



#skill .skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}



#skill .skill-detail {
    margin-bottom: 20px;

}

#skill .skill-info {
    display: flex;
    justify-content: space-between;

}

#skill .skill-info .skill-name,
#skill .skill-info .skill-percent {
    font-size: 14px;
    color: #ececec;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* about page end  */

/* page:03 protfolio page start  */


/* page:03 protfolio page end */



/* page: 04 service page start  */


/* page: 04 service page end */






/* page:05  contact page start  */


#contact-page .contact-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

#contact-page .contact-links {
    background-color: #0E0E12;
    padding: 60px 24px;
    border-radius: 24px;
}

#contact-page .contact-links .heading {
    font-size: 20px;
    color: #2dd4bf;
    font-weight: 500;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

#contact-page .contact-links .contact-info-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
    gap: 10px;
}

#contact-page .contact-links .info {
    padding: 10px 8px;
    background-color: #000;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: start;
}



#contact-page .contact-links .name {
    font-size: 14px;
    color: #9b9ba8;
    font-weight: 400;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

 .social-link {
    text-decoration: none;
    color: #ececec;
    font-size: 14px;
    font-weight: 600;
}

#contact-page .contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #ececef14;
    padding: 40px 24px;
    border-radius: 30px;
}



#map .map iframe {
    width: 100%;
    min-height: 400px;
}

/* page:05  contact page end */

